/**
* xonokai theme for JavaScript, CSS and HTML
* based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
* license: MIT; http://moox.mit-license.org/
*/
code[class*="language-"],
pre[class*="language-"] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: CascadiaCode, Fira Code, Monaco;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}

pre>code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"],
:not(pre)>code[class*="language-"] {
	background: #2a2a2a;
}

pre[class*="language-"] {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #e1e1e8;
	overflow: auto;
	position: relative;
}

pre[class*="language-"] code {
	white-space: pre;
	display: block;
}

:not(pre)>code[class*="language-"] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: .3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
	opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6f705e;
}

.token.operator,
.token.boolean,
.token.number {
	color: #a77afe;
}

.token.attr-name,
.token.string {
	color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #e6d06c;
}

.token.selector,
.token.inserted {
	color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
	color: #ef3b7d;
}

.token.regex,
.token.statement {
	color: #76d9e6;
}

.token.placeholder,
.token.variable {
	color: #fff;
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.punctuation {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .token.tag {
	color: #ef3b7d;
}

code.language-markup .token.attr-name {
	color: #a6e22d;
}

code.language-markup .token.attr-value {
	color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
	color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
	color: #76d9e6;
}

/* Line highlight plugin */
pre[class*="language-"][data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

pre[data-line] .line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	margin-top: 1em;
	background: rgba(255, 255, 255, 0.08);
	pointer-events: none;
	line-height: inherit;
	white-space: pre;
}

pre[data-line] .line-highlight:before,
pre[data-line] .line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	font: bold 65%/1 sans-serif;
	height: 1em;
	line-height: 1em;
	text-align: center;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre[data-line] .line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

/* PrismJS Line Numbers Plugin */
pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em !important;
	counter-reset: linenumber;
}

/* code 元素需要 relative 定位，以便行号能够相对于它定位 */
pre[class*="language-"].line-numbers>code {
	position: relative;
	white-space: inherit;
	display: block;
}

/* 行号容器 - 适配 Hexo 生成的结构（.line-numbers-rows 在 code 内部） */
pre.line-numbers .line-numbers-rows {
	position: absolute !important;
	pointer-events: none;
	top: 0;
	left: -3.8em;
	width: 3em;
	font-size: 100%;
	letter-spacing: -1px;
	border-right: 1px solid #555;
	background: rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* 每行行号 */
pre.line-numbers .line-numbers-rows>span {
	display: block;
	counter-increment: linenumber;
}

pre.line-numbers .line-numbers-rows>span:before {
	content: counter(linenumber);
	color: #888;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}